In [11]:
a = 7382978
print(id(a))
b = a
print(id(b))
print(a is b)
print(a==b)

4377222800
4377222800
True
True

In [ ]:
if 0.0:
    print('if block')
    print('if block2')
    if 5<10:
        print('child if block')
elif (5):
        print('child if of parent else')
else:
    print('else block')

Ternary operator

In [22]:
x = 5 if 20<10 else 'hello'
print(x)

hello

## While loop

In [24]:
y = 10
while y < 20:
    print(y)
    y = y + 1
else:
    print('else of while')

10
11
12
13
14
15
16
17
18
19
else of while

In [25]:
while True:
    print('while true')
    break

while true

## For loop

In [26]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [29]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [30]:
x = input('Enter a number')

Enter a number56734

In [31]:
type(x)

str

In [32]:
x = int(input('enter a number'))

enter a number7878

In [33]:
print(x , type(x))

7878 <class 'int'>

In [35]:
print('hello' , 4 , 'ptyhon' , 2.2)
print('bye bye')

hello 4 ptyhon 2.2
bye bye

3.0000000000000004